body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid #515151;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.masterSize {
	width: 336px;
	height: 280px;
}

#banner {
	background: #4d148c;
	cursor: pointer;
	overflow: hidden;
	/* border: 1px solid #515151; */
	box-sizing: border-box;
}

.lt0 {
	top: 0px;
	left: 0px;
}

.w100 {
	width: 100%;
	height: 100%;
}

.orangeBorder {
background-color: #ff6600;
width: 11px;
height: 100%;
}


div#logo {
    width: 92.5px;
    top: 13px;
    left: 26px;
    z-index: 1;
}

#c2_a_2x {
	left:24px;
	top:58px;
	width:232px;
	height:129px;
	background-image:url(../img/c2_a_2x.png);
	background-size:232px 129px;
}

#c2_c_2x {
	left:28px;
	top:195px;
	width:243px;
	height:15px;
	background-image:url(../img/c2_c_2x.png);
	background-size:243px 15px;
}

#ctaArr_2x {
	left:103px;
	top:232px;
	width:9px;
	height:7px;
	background-image:url(../img/ctaArr_2x.png);
	background-size:9px 7px;
}

#cta_2x {
	left:29px;
	top:229px;
	width:68px;
	height:10px;
	background-image:url(../img/cta_2x.png);
	background-size:68px 10px;
}

#legal_2x {
	left:28px;
	top:247px;
	width:223px;
	height:10px;
	background-image:url(../img/legal_2x.png);
	background-size:223px 10px;
}