body { margin:0px 0px; padding:0px; } 

* { 
	box-sizing: Border-box;
	-webkit-backface-visibility: hidden;
  	-webkit-perspective: 1000px; 
	-ms-overflow-style: hidden;
}  

#container{
	background-color:white;
	position:absolute;
	overflow:hidden;
	border: 1px solid #515151;
} 

.sprite {
	position:absolute;
	background-repeat:no-repeat;
}

.masterSize {
	width: 970px;
	height: 200px;
}

#banner {
	background: #4d148c;
	cursor: pointer;
	overflow: hidden;
	/* border: 1px solid #515151; */
	box-sizing: border-box;
}

.lt0 {
	top: 0px;
	left: 0px;
}

.w100 {
	width: 100%;
	height: 100%;
}

.orangeBorder {
	background-color: #ff6600;
	width: 18px;
	height: 100%;
}

div#logo {
    width: 190px;
    top: 16px;
    left: 39px;
    z-index: 1;
}

.fpo {
	opacity: .5;
}

#c2_a_2x {
	left:43px;
	top:91px;
	width:656px;
	height:36px;
	background-image:url(../img/c2_a_2x.png);
	background-size:656px 36px;
}

#c2_b_2x {
	left:38px;
	top:166px;
	width:449px;
	height:31px;
	background-image:url(../img/c2_b_2x.png);
	background-size:449px 31px;
}

#c2_c_2x {
	left:42px;
	top:145px;
	width:415px;
	height:28px;
	background-image:url(../img/c2_c_2x.png);
	background-size:415px 28px;
}

#ctaArr_2x {
	left:926px;
	top:95px;
	width:24px;
	height:19px;
	background-image:url(../img/ctaArr_2x.png);
	background-size:24px 19px;
}

#cta_2x {
	left:786px;
	top:95px;
	width:131px;
	height:18px;
	background-image:url(../img/cta_2x.png);
	background-size:131px 18px;
}

#legal_2x {
	left:550px;
	top:169px;
	width:401px;
	height:17px;
	background-image:url(../img/legal_2x.png);
	background-size:401px 17px;
}
